@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(
    60deg,
    #00091d,
    #0f172a,
    #0f172a,
    #1d294f,
    #3a576d,
    #26154a,
    #0f172a
    
  );
color: white;
}

.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
.social-icons i {
  margin: 0 10px;
  color: #e0e0e0;
}
.social-icons i:hover {
  color: #ffcc00;
}
.nav-links a {
  margin: 0 15px;
  color: #e0e0e0;
  text-decoration: none;
}
.nav-links a:hover {
  color: #ffcc00;
}

@media (max-width: 768px) { /* Màn hình nhỏ hơn 768px (điện thoại và máy tính bảng) */
  .gioithieu {
    height: fit-content;
  }
 
}
@media (max-width: 400px) { /* Màn hình nhỏ hơn 768px (điện thoại và máy tính bảng) */
  .pgt{
    font-size: 12px;
  }
}
/* skills */
.text-4xl{
  max-width: 300px;
}
.skill-card{
  border: #305661 3px solid;
}

.skill-card:hover {
  transition: 0.5s;
  transform: scale(1.1); /* Phóng to khi hover */
  border-color: cyan; /* Đổi màu viền khi hover */
  background: #fbfbfb ;
  
}

.skill-card img {
  height: 48px; /* Kích thước icon */
  width: 48px;
}
 .con-p:hover{
  transition: 0.5s;
  transform: scale(1.05);
 }